@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import 'src/constants/variables.scss' ;

*{
    height: auto;
    max-width: 100vw;
}
html{
    background-color: rgb(241, 239, 239);
}
.section_dash {
    margin: 0px;
    margin-bottom: 50px;
    width: 98.5vw;
    max-width: 100vw;
    height: auto;
    background-color: rgb(241, 239, 239);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.dashboard_container {
    position: fixed;
    z-index: 999; /* Ensure it's below the overlay */
    top: 0;
    display: flex;
    height: auto;
    width: 100vw;
    max-width: 100vw;
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 0px 1px 0px;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
.logout_button{
    margin-right: 15px;
    padding: 8px 13px 8px 13px;
    font-weight: bold;
    color: white;
    background-color: $main-color;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}
.logout_button:hover{
    background-color: $transitionBlue-color;
}
.section_vnutro{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.time_date_section{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px 20px 15px;
    width: 80vw;
    max-width: 95vw;
    box-shadow: 0px 0px 1px 0px;
    background-color: white;
    border-radius: 5px;
}
.time{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
    opacity: 0.8;
}
.date{
    display: flex;
    font-size: 0.8em;
    font-weight: bold;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.pin_img{
    height: 11px;
    width: auto;
    opacity: 0.3;
}
.praca_odchod_section{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px 10px 15px;
    width: 80vw;
    max-width: 95vw;
    box-shadow: 0px 0px 1px 0px;
    background-color: white;
    gap: 8px;
    border-radius: 5px;
}
.history_img{
    height: 25px;
    width: auto;
    opacity: 0.8;
}
.praca_odchod_text{
    font-size: 0.6em;
    font-weight: bold;
    color: white;
    background-color: rgb(223, 79, 79);
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    opacity: 0.8;
}
.cas_datum_prichodu{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    font-weight: bold;
    opacity: 0.8;
}
.button_poznamka{
    width: 98%;
    background-color: $main-color;
    border: 0px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 200ms;
    cursor: pointer;
}
.button_poznamka:hover{
    background-color: $transitionBlue-color;
}
.poznamka_section{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px 10px 15px;
    width: 80vw;
    max-width: 95vw;
    box-shadow: 0px 0px 1px 0px;
    background-color: white;
    gap: 8px;
    border-radius: 5px;
}
.poznamka_dokopy{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.poznamka_text{
    margin: 0px;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0.8;
}
.poznamka_img{
    height: 15px;
    width: auto;
    opacity: 0.8;
}
.input_poznamka{
    width: 98%;
    min-height: 50px;
    max-height: 50vh;
    padding: 10px;
    border-radius: 5px;
}
.praca_section{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px 10px 15px;
    width: 80vw;
    max-width: 95vw;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px;
    background-color: white;
    gap: 8px;   
}
.praca_text{
    margin: 0px;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0.8;
}
.praca_buttons{
    display: flex;
    flex-direction: row;
    width: 98%;
}
.prichod_button{
    color: white;
    font-size: 1.2em;
    width: 50%;
    background-color: rgb(76, 163, 76);
    padding: 13px;
    border: 0px;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
}
.prichod_button:hover{
    background-color: rgb(19, 163, 19);
}
.odchod_button{
    color: white;
    font-size: 1.2em;
    width: 50%;
    background-color: rgb(188, 62, 62);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 13px;
    border: 0px;
    cursor: pointer;
}
.odchod_button:hover{
    background-color: rgb(190, 27, 27);
}
.inside_button_text{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.tabs_section{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80vw;
    max-width: 95vw;
    margin-top: 30px;
    gap: 30px;
}
.tabs{
    min-width: 260px;
    width: 31.2%;
    max-width: 80%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px;
    align-items: center;
}
.tabs_sluzobne_img{
    height: 50px;
    width: auto;
    padding: 8px 8px 0px 8px;
}
.tabs_zaciatok_button{
    color: white;
    width: 50%;
    background-color: rgb(76, 163, 76);
    padding: 13px;
    border: 0px;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
}
.tabs_zaciatok_button:hover{
    background-color: rgb(19, 163, 19);
}
.tabs_koniec_button{
    color: white;
    width: 50%;
    background-color: rgb(188, 62, 62);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 13px;
    border: 0px;
    cursor: pointer;
}
.tabs_koniec_button:hover{
    background-color: rgb(190, 27, 27);
}
.tabs_medzera{
    padding-left: 10px;
    width: 100%;
}
.tabs_text{
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
}
.user_img{
    position: absolute;
    top: 6px;
    height: 40px;
    width: auto;
    background-color: #333;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    max-width: 50vw;
    height: 100vh;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
    overflow-y: auto;
}

.sidebar.open {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1000;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.sidebar_toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.dashboard_container {
    justify-content: space-between;
}
.sidebar_top{
    height: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}
.sidebar_top_vlavo{
    height: 30px;
    width: 27%;
    background-color: $main-color;
    border: 0px;
    box-shadow: 0px 0px 0.7px 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
}
.sidebar_top_vlavo:hover{
    background-color: $transitionBlue-color;
}
.sidebar_top_vstrede{
    height: 30px;
    width: 27%;
    background-color: $main-color;
    border: 0px;
    box-shadow: 0px 0px 0.7px 0px;
    cursor: pointer;
}
.sidebar_top_vstrede:hover{
    background-color: $transitionBlue-color;
}
.sidebar_top_vpravo{
    height: 30px;
    width: 27%;
    background-color: $main-color;
    border: 0px;
    box-shadow: 0px 0px 0.7px 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
.sidebar_top_vpravo:hover{
    background-color: $transitionBlue-color;
}
.users_star{
    height: 12px;
    width: auto;
}
.users_tab{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 0.7px 0px;
    padding: 5px;
    gap: 10px;
}
.user{
    gap: 10px;
}
.users_name{
    font-weight: bold;
    font-size: 0.8em;
}
.users_num{
    font-size: 0.8em;
}
.user_img1{
    cursor: pointer;
    display: block;
    position: absolute; /* or absolute based on your layout */
    z-index: 1003; /* Higher than the sidebar and overlay */
    top: 6px;
    left: 250px;
    height: 40px;
    width: auto;
    background-color: #ffffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
}
.checkbox_button{
    height: 15px;
    width: auto;
}
